@import url(../../utils/color-var.css);

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-m);
    font-size: 1em;
    color: var(--white);
    border-radius: 1em;
    padding: 0.5em;
    transition: .3s all;
    min-width: 100px;
}

.button:hover {
    background-color: var(--primary);
}


.button svg {
    stroke-width: 50px;
    animation: rotate .5s linear infinite;
}

.delete {
    margin-right: 1em;
    font-size: 1em;
    background-color: transparent;
    color: var(--danger);
}

.delete:hover {
    text-decoration: underline;
}

.delete svg {
    stroke-width: 50px;
    animation: rotate .5s linear infinite;
    color: var(--danger);
}

.search {
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--white);
    transition: .3s all;
}

.search:hover {
    background-color: var(--primary-p);
}
