@import url(../../color-var.css);

.form_control button {
    width: 100%;
    font-weight: bold;
}

.form_control span {
    display: block;
    text-align: center;
    margin-top: .4em;
}

.form_control span a {
    color: var(--primary);
    transition: .3s all;
}

.form_control span a:hover {
    color: var(--primary-p);
    text-decoration: underline;
}
