@import url(../../utils/color-var.css);

.user {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.user span {
    font-size: 1.1em;
    color: var(--secundary);
}

.user_header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_header div {
    display: flex;
    flex-direction: column;
}

.user_header div span {
    color: var(--white);
    font-weight: bold;
}

.user_header div a {
    color: var(--white);
    font-size: 0.9em;
    font-weight: 400;
    transition: 0.3s all;
}

.user_header div a:hover {
    color: var(--primary-m);
}
