@import url(../../utils/color-var.css);

.user {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.user a {
    font-size: 1.1em;
    color: var(--secundary);
}

.user a:hover {
    text-decoration: underline;
}


