@import url(../../utils/color-var.css);

@keyframes change {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--white-p);
  }
}

.loading {
  margin-top: 1em;
}

.loading > div {
  border: 1px solid var(--white);
  animation: change 1s linear infinite;
}
.loading > div:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.loading > div:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

