@import url(../../color-var.css);

.post_area {
    border: 1px solid var(--secundary);
    border-radius: 1.4em;
    margin-top: 1em;
}

.post_area > div:not(:last-child){
    border-bottom: 1px solid var(--secundary);
}

.no_post_container {
    text-align: center;
}

.no_post_container h1 {
    color: var(--secundary-m);
    padding-top: 1em;
}

.loading_more {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

/* .order_row {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    gap: 0.5em;
}

.order_row span {
    color: var(--secundary-m);
    font-weight: 500;
}

.order_row select {
    border: none;
    background-color: transparent;
    color: var(--primary-p);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.order_row select option {
    padding: 20px;
}

.order_row select:hover {
    color: var(--primary);
} */








