@import url(../../utils/color-var.css);

@keyframes change {
    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: var(--white-p);
    }
}

@keyframes changeBorder {
    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: var(--white-p);
    }
}

.loading_viewpost {
    margin-top: 2em;
}

.loading_viewpost > div {
    border: 1px solid var(--white-p);
    animation: changeBorder 1s linear infinite;
    
}

.loading_viewpost > div:first-child {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.loading_viewpost > div:last-child {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.skeleton {
    padding: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background-color: var(--white);
    margin-right: 10px;
    color: var(--white-p);
}

.username {
    width: 100px;
    height: 20px;
    border-radius: 1em;
    background-color: var(--white);
    margin-right: 10px;
}

.like {
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background-color: var(--white);
    margin-right: 10px;
}

.comment {
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background-color: var(--white);
    margin-right: 10px;
}

.date {
    width: 50px;
    height: 20px;
    border-radius: 1em;
    background-color: var(--white);
}

.message_content {
    padding: 1em 3em;
}

.divisor {
    width: 100%;
    height: 20px;
}

.message_paragraph {
    width: 100%;
    height: 20px;
    background-color: var(--white);
    margin-bottom: 5px;
    border-radius: 1em;
}

.textarea {
    background-color: var(--white);
    height: 110px;
    border-radius: 1em;
    margin: 1em 1.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em;
}

.placeholder {
    width: 150px;
    height: 15px;
    background-color: var(--white);
    border-radius: 1em;
}

.button_area {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1em;
}

.textcounter {
    width: 30px;
    height: 15px;
    border-radius: 1em;
    background-color: var(--white);
}

.button {
    width: 80px;
    height: 30px;
    background-color: var(--white);
    border-radius: 1em;
}

.no_comment {
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.no_comment > div {
    width: 250px;
    height: 20px;
    border-radius: 1em;
    background-color: var(--white-p);
}


.avatar,
.username,
.date,
.like,
.comment,
.divisor,
.textarea,
.no_comment > div,
.message_paragraph {
    animation: change 1s linear infinite;
}