@import url(../../utils/color-var.css);



.post_area {
    border: 1px solid var(--secundary);
    border-radius: 1.4em;
    margin-top: 1em;
}

.post_area > div:not(:last-child){
    border-bottom: 1px solid var(--secundary);
}

.loading_more {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
