@import url(../../utils/color-var.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
    background-color: var(--secundary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

nav li > a {
    color: var(--white);
    transition: .3s all;
}

nav li > a:hover {
    color: var(--primary);
}



