.btn {
    color: var(--white);
    background-color: var(--primary-m);
    padding: .4em 1em;
    border-radius: 1.8em;
    transition: .3s all;
}

.btn:hover {
    color: var(--white-p);
    background-color: var(--primary);
    border: none;
}

.simple {
    color: var(--primary);
    transition: .3s all;
}

.simple:hover {
    text-decoration: underline;
}

.cta {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 1rem;
    gap: 0.2em;
    padding: 0.5rem 1rem;
    transition: .3s all;
    display: flex;
    align-items: center;
}

.cta:hover {
    background-color: var(--primary-p);
    color: var(--white-p);
}

.btn_message {
    background: var(--primary);
    cursor: not-allowed;
    font-size: 1em;
    padding: 0.4em 2em;
    border-radius: 0.7em;
    color: white;
    transition: all .3s;
}

/* .btn_message:hover {
    background-color: var(--primary);
    color: var(--white-m);
} */