.btn {
    color: var(--white);
    background-color: var(--primary-m);
    padding: .4em 1em;
    border-radius: 1.8em;
    transition: .3s all;
}

.btn:hover {
    color: var(--white);
    background-color: var(--primary);
    border: none;
}

.simple {
    color: var(--primary);
    transition: .3s all;
}

.simple:hover {
    text-decoration: underline;
}

.cta {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 1rem;
    gap: 0.2em;
    padding: 0.5rem 1rem;
    transition: .3s all;
    display: flex;
    align-items: center;
}

.cta:hover {
    background-color: var(--primary-p);
}