@import url(../../utils/color-var.css);

.footer {
    background-color: var(--secundary-m);
    padding: 2rem;
    text-align: center;
    color: var(--white-p);
}

.footer a {
    color: var(--primary);
}

.footer a:hover {
    text-decoration: underline;
}