@import url(../../utils/color-var.css);

.search {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 1rem;
    width: 350px;
    justify-content: space-between;
    padding-left: 0.3em;
}

.search input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    color: var(--secundary-p);
}

.search button {
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--white);
    transition: .3s all;
}

.search button:hover {
    background-color: var(--primary-p);
}
