@import url(../../utils/color-var.css);

.search {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 1rem;
    width: 21em;
    justify-content: space-between;
}

.search input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    color: var(--secundary-p);
}
