@import url(../../utils/color-var.css);

.post_container {
    padding: 1.5em;
    width: 100%;
}

.post_container > div:first-child {
    display: flex;
    justify-content: space-between;
}

.post_container div div {
    display: flex;
    align-items: center ;
}

.tag_date {
    color: var(--secundary-m);
    font-size: 1em;
}


.post_container p {
    padding: 1.2em;
    color: var(--secundary);
    width: 100%;
    word-wrap: break-word;
}

.post_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

