@import url(../../utils/color-var.css);

.post {
    padding: 1.5em;
    width: 100%;
}

.post_header {
    display: flex;
    justify-content: space-between;
}

.post_header > div, .post_footer {
    display: flex;
    align-items: center;
}

.post_header > div:first-child, .post_footer {
    gap: 1em;
}

.post_footer {
    justify-content: flex-end;
}

