@import url(../../utils/color-var.css);

@keyframes change {
    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: var(--white-p);
    }
}

.content_area {
    border: 1px solid var(--secundary);
    border-radius: 1em;
    margin: 2em 0;
}

.content_area > div:not(:last-child) {
    border-bottom: 1px solid var(--secundary);
}

.content_area_loading {
    margin: 2em 0;
    border: 1px solid var(--white-p);
    border-radius: 1em;
    animation: change 1s linear infinite;
}

.content_area_loading > div:not(:last-child) {
    border-bottom: 1px solid var(--white-p);
    animation: change 1s linear infinite;
}
