@import url(../../utils/color-var.css);

.newpost_container {
    padding: 1em;
}


.newpost_container > div {
    display: flex;
    align-items: center;
}


.newpost_container form {
    display: flex;
    flex-direction: column;
    background-color: var(--white-m);
    border-radius: 1em;
    margin: 1em;
    border: 1px solid var(--secundary);
}

.newpost_container form textarea {
    resize: none;
    margin: 1em;
    padding: 0.5em 0;
    overflow: hidden;
    color: var(--secundary);
    border: none;
    outline: none;
    background-color: transparent;
}

.newpost_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    margin: 0 .7em .7em .7em;
}



