@import url(../../utils/color-var.css);

.postlist {
    margin: 2em 0;
    border: 1px solid var(--secundary);
    border-radius: 1em;
}

.postlist > div:not(:last-child) {
    border-bottom: 1px solid var(--secundary);
}


