.createpost_area {
    border: 1px solid var(--secundary);
    border-radius: 1em;
    margin: 2em 0;
}

.post_area {
    border: 1px solid var(--secundary);
    border-radius: 1.4em;
    margin-top: 1.4em;
}

.post_area > div:not(:last-child){
    border-bottom: 1px solid var(--secundary);
}

@keyframes change {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: rgb(218, 215, 215);
    }
  }


.loading_posts {
    width: 100%;
    min-height: 200px;
    margin-top: 1em;
    border: 1.5px solid transparent;
    animation: change 0.8s infinite;
    border-radius: 1em;
}




