@import url(../../utils/color-var.css);

@keyframes change {
    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: var(--white-p);
    }
}

.loading_postlist {
    margin-top: 1em;
    border: 1px solid var(--white-p);
    border-radius: 1em;
    animation: change 1s linear infinite;
}

.loading_postlist > div:not(:last-child) {
    border-bottom: 1px solid var(--white-p);
    animation: change 1s linear infinite;
}
